{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h3>ASTROMER Architecture</h3>
    ASTROMER's architecture is based on the Transformer architecture proposed in Vaswani (2017).
    <br>
    <br>
    <div class="container-fluid"><img class="about-astromer" src="/static/img/astro_arch.png"></div>
    <div class="container hidden-mobile">
        <h2>Pre-trained Weights</h2>
        <p>You can easily download the pre-trained weights of ASTROMER's model:</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Version tag</th>
              <th scope="col">Pretraining Data</th>
              <th scope="col">Description</th>
              <th scope="col">RMSE/R-Square</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">v0</th>
              <td>MACHO</td>
              <td>Paper's model</td>
              <td>0.147/0.80</td>
              <td><a href="https://github.com/astromer-science/weights/raw/nightly/macho_0.zip">Download weights</a></td>
            </tr>
            <tr>
              <th scope="row">v1</th>
              <td>MACHO</td>
              <td>New implementation of the paper's model</td>
              <td>0.173/0.72</td>
              <td><a href="https://github.com/astromer-science/weights/raw/nightly/macho_1.zip">Download weights</a></td>
            </tr>
            <tr>
              <th scope="row">v1c(*)</th>
              <td>MACHO Clean</td>
              <td>Paper's model</td>
              <td>0.064/0.83</td>
              <td><a href="https://github.com/astromer-science/weights/raw/nightly/macho_1c.zip">Download weights</a></td>
            </tr>
          </tbody>
        </table>
        <p>(*) Best performance on clasiffication task</p>
      </div>
      <br />
      
      <div class="container show-mobile">
        <h2>Pre-trained Weights</h2>
        <p>You can easily download the pre-trained weights of ASTROMER's model:</p>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                v0. MACHO
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Description:</strong> Paper's model
                <br>
                <strong>Test RMSE:</strong> 0.147
                <br>
                <strong>Test R-Square:</strong> 0.80
                <br>
                <strong>Link:</strong> <a href="https://github.com/astromer-science/weights/raw/nightly/macho_0.zip">Download
                  weights</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                v1. MACHO
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Description:</strong> New implementation of the paper's model
                <br>
                <strong>Test RMSE:</strong> 0.173
                <br>
                <strong>Test R-Square:</strong> 0.72
                <br>
                <strong>Link:</strong> <a href="https://github.com/astromer-science/weights/raw/nightly/macho_1.zip">Download
                  weights</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                v1c(*) MACHO Clean
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Description:</strong> New implementation of the paper's model trained on Clean MACHO
                <br>
                <strong>Test RMSE:</strong> 0.064
                <br>
                <strong>Test R-Square:</strong> 0.83
                <br>
                <strong>Link:</strong> <a href="https://github.com/astromer-science/weights/raw/nightly/macho_1.zip">Download
                  weights</a>
              </div>
            </div>
          </div>
        </div>
        <p>(*) Best performance on clasiffication task</p>
      
      </div>
      
      <h2>Contributing to ASTROMER</h2>
      <p>If you train your model from scratch, you can share your pre-trained weights by submitting a pull request on the <a
          href="https://github.com/astromer-science/weights">weights repository.</a></p>
    
    </div>
    
</div>

{% endblock %}