{% extends 'layout.html' %}

{% block content %}
<div class="top-bar">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h5>Email us:</h5>
            <p>pavlos@seas.harvard.edu</p>
            <p>cridonoso@inf.udec.cl</p>
            <h5>Address:</h5>
            <a href="https://goo.gl/maps/GMKQnV4LsEbwrw2i8">
                Science and Engineering Complex, 150 Western Ave, Boston, MA 02134.
            </a>
            <br>
            <br>
        </div>
    </div>
</div>

{% endblock %}