{% extends "layout.html" %}

{% block content %}


<br>
      <div class="space2 d-flex align-items-center">
        <img src="/static/img/ASTROMER-w.png" width="400px" class="mx-auto">

      </div>

<br>
<div class="container">
      <h2>Get Started</h2>
      <p>ASTROMER is a Transformer-based model that creates light curves representations. The learned representation can be easily adapted to other surveys by re-training ASTROMER
        on new sources. Read the <a href="https://arxiv.org/pdf/2205.01677.pdf">paper</a> for a deeper understanding.
      </p>
      <br>
      <br>
    <div style="text-align: center;">
      <a href="{{ url_for('tutorials') }}"><button type="button" class="start-btn">View Tutorials ❯ </button></a>
      <a href="{{ url_for('about') }}"><button type="button" class="start-btn">About ASTROMER ✖ </button> </a>
      <a href="https://astromer.readthedocs.io/en/main/"><button type="button" class="start-btn">Read the Docs ✒ </button> </a>
    </div>
</div>

<br />

  <br>
  <br>
 
{% endblock %}