{% extends 'layout.html' %}

{% block content %}
<div class="top-bar">
  <div class="container">
      <h1>Our Team</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Pavlos Protopapas</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Guillermo Cabrera-Vives</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Ignacio Becker</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Cristóbal Donoso</h6>
      </div>
    </div>
  </div>
  </div>


  <div class="row">

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Martina Cádiz</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Daniel Moreno</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Luis Felipe Strano</h6>
        </div>
      </div>
    </div>

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Rocío Pérez</h6>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col sm-3 d-flex align-items-stretch">
      <div class="card card-team">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">Gabriel Chiong</h6>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}