{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pavlos Protopapas</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Guillermo Cabrera-Vives</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Anshika Gupta</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Yash Surange</h5>
      </div>
    </div>
  </div>
  </div>


  <div class="row">

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Martina Cádiz</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Daniel Moreno</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Cristóbal Donoso</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Ignacio Becker</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Vishnu M.</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Has Vardhan</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Simón Salazar Albornoz</h5>
        </div>
      </div>
    </div>

    <div class="col sm-3">
      <div class="card">
        <img src="/static/img/usernaut.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
        </div>
      </div>
    </div>

  </div>


</div>
{% endblock %}