{% extends 'layout.html' %}

{% block content %}
<div class="top-bar">
    <div class="container">
        <h1>Tutorials</h1>
    </div>
</div>
<br>
<div class="container">
    <h2>Install ASTROMER</h2>
    <p>ASTROMER is tested and supported on the following 64-bit systems:</p>
    <li>Python 3.8-3.10</li>
    <br>
    <p>Install our python library including all the functionalities:</p>
    <p class="code">pip install ASTROMER</p>
</div>
<br>
<div class="container">
    <h2>Explore ASTROMER</h2>

    <p>The following tutorials were made for you to make a better understanding of the nature of it.</p>
    <br>
    <div class="row">
        <div class="col sm-6 d-flex align-items-stretch text-center"></div>
        <div class="col sm-6 d-flex align-items-stretch text-center"></div>

    </div>    
    <div class="row">
        <div class="col sm-4 d-flex align-items-stretch text-center">
            <div class="card">
                <div class="card-body rounded-9">
                    <h5 class="card-title">Tutorial 1: Prepare your data</h5>
                    <br>
                    <p class="card-text">Either numpy or tf.records, here you will learn how to format your own data
                        to fit ASTROMER's requirements.</p>
                        <br><br>
                        <div class="card-btn"><button>Learn more</button></div>
                    </div>
            </div>
        </div>

        <div class="col sm-4 d-flex align-items-stretch text-center text-center">
            <div class="card">
                <div class="card-body rounded-9">
                    <h5 class="card-title">Tutorial 2: Finetune your model</h5>
                    <br>
                    <p class="card-text">With the pre-trained weights you can finetune ASTROMER using your own dataset.
                    </p>
                    <br><br>

                    <div class="card-btn"><button>Learn more</button></div>
                </div>
            </div>
        </div>
        <div class="col sm-4 d-flex align-items-stretch text-center">
            <div class="card">
                <div class="card-body rounded-9">
                    <h5 class="card-title">Tutorial 3: Training</h5>
                    <br>
                    <p class="card-text">Have a lot of samples? Here we teach you how to train ASTROMER from scratch.</p>
                        <br><br>
                        <div class="card-btn"><button>Learn more</button></div>
                    </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />


</div>
{% endblock content%}